# Importing the required Libraries

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Importing comp3 File

In [2]:
comp = pd.read_sas('comp3.sas7bdat')
comp.head()

,GVKEY,DATADATE,year,TIC,CITY,FYRC,IPODATE,SIC,STATE,STKO,...,CHGDT,CFO,LIQUIDITY,MKBK,LITIGATE,laggc,PRIORGC,BIG4,NEWDEBT,NEWEQUITY
0,b'006314',2005-12-31,2005.0,b'KTII',b'Pitman',12.0,NaT,b'3823',b'NJ',0.0,...,NaN,0.117922,0.168904,1.929919,0.0,NaN,NaN,0.0,NaN,NaN
1,b'001004',2000-05-31,1999.0,b'AIR',b'Wood Dale',5.0,1988-01-01,b'5080',b'IL',0.0,...,NaN,0.013564,0.001675,1.097895,0.0,NaN,NaN,1.0,0.000000,0.039637
2,b'001004',2001-05-31,2000.0,b'AIR',b'Wood Dale',5.0,1988-01-01,b'5080',b'IL',0.0,...,-0.000621,0.065673,0.019675,1.108479,0.0,0.0,0.0,1.0,0.164570,0.047828
3,b'001004',2002-05-31,2001.0,b'AIR',b'Wood Dale',5.0,1988-01-01,b'5080',b'IL',0.0,...,0.053732,-0.046909,0.048609,1.175215,0.0,0.0,0.0,1.0,0.033793,0.047230
4,b'001004',2003-05-31,2002.0,b'AIR',b'Wood Dale',5.0,1988-01-01,b'5080',b'IL',0.0,...,-0.074685,0.050585,0.042460,0.485882,0.0,0.0,0.0,1.0,0.130641,0.050282

In [3]:
comp.columns = comp.columns.str.lower() #Code to convert dataframe columns to lower case
comp['cik']=comp['cik'].astype(str)     # Conveting cik column to string type
comp['cik']=comp['cik'].astype(float)   # Converting cik column to float type
comp['cik']=comp['cik'].astype(int)     # Converting cik column to int type
comp['sic'] = comp['sic'].apply(lambda x : int(x))  # Applying lambda function to convert every data point to integer

# Reading Bankruptcy File

In [4]:
bankruptcy = pd.read_sas('Bankruptcy_20002019.sas7bdat')
bankruptcy.head()

,COMPANY_FKEY,BANK_BEGIN_DATE,BANKRUPTCY_TYPE,BANK_END_DATE,BANK_KEY,COURT_LOC,COURT_LOC_CITY,COURT_LOC_STATE,COURT_LOC_STREET,COURT_LOC_ZIP,...,EGC_EARLIEST_FILE_ACCEPTED,EGC_EARLIEST_FILE_DATE,EGC_EARLIEST_FORM_FKEY,EGC_FILE_ACCEPTED,EGC_FILE_DATE,EGC_FORM_FKEY,EGC_IS_EMERGING_COMPANY,META_ACD_FLAG,META_DATE_TIME_CHANGED,META_DATE_TIME_CREATED
0,b'0000002178',2017-04-21,11.0,NaT,2740.0,b'Delaware',NaN,b'DE',NaN,NaN,...,NaT,NaT,NaN,2019-05-08 16:22:52,2019-05-08,b'10-Q',0.0,b'U',b'01JUN2019 21:45:07',NaN
1,b'0000002852',2002-10-01,11.0,2013-01-09,265.0,b'New York',NaN,b'NY',NaN,NaN,...,NaT,NaT,NaN,NaT,NaT,NaN,0.0,b'U',b'01JUN2019 21:42:00',NaN
2,b'0000003662',2001-02-06,11.0,2006-07-31,499.0,b'New York',NaN,b'NY',NaN,NaN,...,NaT,NaT,NaN,NaT,NaT,NaN,0.0,b'U',b'01JUN2019 21:42:10',NaN
3,b'0000003941',2000-10-02,11.0,2006-06-15,1242.0,b'Illinois',NaN,b'IL',NaN,NaN,...,NaT,NaT,NaN,NaT,NaT,NaN,0.0,b'U',b'01JUN2019 21:42:10',NaN
4,b'0000004457',2003-06-20,11.0,2007-01-18,154.0,b'Nevada',NaN,b'NV',NaN,NaN,...,NaT,NaT,NaN,2018-08-08 16:05:40,2018-08-08,b'10-Q',0.0,b'U',b'01JUN2019 21:41:35',NaN

In [5]:
bankruptcy.columns = bankruptcy.columns.str.lower() #Converting bankruptcy columns to lower case
bytes_string_list = []    # Initializing a list
for elem in bankruptcy['company_fkey']: 
    bytes_string_list.append(elem.decode('utf-8'))    #Decoding every element belonging to company_fkey column
bankruptcy['company_fkey'] = bytes_string_list         
bankruptcy['company_fkey'] = bankruptcy['company_fkey'].apply(lambda x: x.lstrip('0'))  # Stripping 0 from the left
bankruptcy['company_fkey'] = bankruptcy['company_fkey'].astype(int)            #Converting company_fkey to int type
bankruptcy.rename(columns={'company_fkey':'cik'},inplace=True)               # renaming the column company_fkey to cik
bankruptcy.head()

,cik,bank_begin_date,bankruptcy_type,bank_end_date,bank_key,court_loc,court_loc_city,court_loc_state,court_loc_street,court_loc_zip,...,egc_earliest_file_accepted,egc_earliest_file_date,egc_earliest_form_fkey,egc_file_accepted,egc_file_date,egc_form_fkey,egc_is_emerging_company,meta_acd_flag,meta_date_time_changed,meta_date_time_created
0,2178,2017-04-21,11.0,NaT,2740.0,b'Delaware',NaN,b'DE',NaN,NaN,...,NaT,NaT,NaN,2019-05-08 16:22:52,2019-05-08,b'10-Q',0.0,b'U',b'01JUN2019 21:45:07',NaN
1,2852,2002-10-01,11.0,2013-01-09,265.0,b'New York',NaN,b'NY',NaN,NaN,...,NaT,NaT,NaN,NaT,NaT,NaN,0.0,b'U',b'01JUN2019 21:42:00',NaN
2,3662,2001-02-06,11.0,2006-07-31,499.0,b'New York',NaN,b'NY',NaN,NaN,...,NaT,NaT,NaN,NaT,NaT,NaN,0.0,b'U',b'01JUN2019 21:42:10',NaN
3,3941,2000-10-02,11.0,2006-06-15,1242.0,b'Illinois',NaN,b'IL',NaN,NaN,...,NaT,NaT,NaN,NaT,NaT,NaN,0.0,b'U',b'01JUN2019 21:42:10',NaN
4,4457,2003-06-20,11.0,2007-01-18,154.0,b'Nevada',NaN,b'NV',NaN,NaN,...,NaT,NaT,NaN,2018-08-08 16:05:40,2018-08-08,b'10-Q',0.0,b'U',b'01JUN2019 21:41:35',NaN

# Checking lengths of dataframes to cross-check for later use

In [6]:
len(bankruptcy)

2746

In [7]:
len(comp)

131890

# Code for checking which cik's are not there in bankruptcy and need their bankruptcy to be indicated as 0

In [9]:
comps_cik = comp['cik'].values.tolist()
bank_cik = bankruptcy['cik'].values.tolist()
ciks_zero = []
for cik in comps_cik:
    if cik not in bank_cik:
        ciks_zero.append(cik)
len(ciks_zero)

122411

In [10]:
zero_bank = pd.DataFrame()
distinct_ciks = list(set(ciks_zero))
zero_comp = comp[comp['cik'].isin(distinct_ciks)]

In [11]:
ss = [0 for i in range(len(zero_comp))]
zero_comp['bank_list'] = ss

# Proceeding to merge dataframes (comp3, bakruptcy) in order to indicate those firms as 1 which have been bankrupted within one year of filing and 0 for those companies which were filed for bankruptcy but didn't get bankrupt within one year of filing

In [12]:
merged = pd.merge(comp,bankruptcy,on='cik',how='inner')

In [13]:
len(merged)

9810

In [14]:
merged['filingdate'] = merged['filing'].astype(str)
merged['bankdate'] = merged['bank_begin_date'].astype(str)
merged['results'] = merged['filingdate'] > merged['bankdate']

In [15]:
merged['results'].value_counts()

False    7529
True     2281
Name: results, dtype: int64

In [16]:
def rowIndex(row):
    return row.name

In [17]:
merged['day_diff'] = (merged['bank_begin_date'] - merged['filing']).dt.days
merged['index'] = merged.apply(rowIndex, axis=1)
bank_list = []
for elem in merged['day_diff']:
    if elem < 365 and elem >0:
        bank_list.append(1)
    else:
        bank_list.append(0)
merged['bank_list'] = bank_list
narrow = merged[['cik','filing','bank_begin_date','day_diff','index','bank_list']]
narrow.head()

    cik     filing bank_begin_date  day_diff  index  bank_list
0  2178 2001-03-22      2017-04-21      5874      0          0
1  2178 2002-03-28      2017-04-21      5503      1          0
2  2178 2003-03-28      2017-04-21      5138      2          0
3  2178 2004-03-24      2017-04-21      4776      3          0
4  2178 2005-03-24      2017-04-21      4411      4          0

# Declaring dictionaries to keep a track of those cik's which have multiple bankruptcy dates and single bankruptcy date

In [18]:
dup = bankruptcy[bankruptcy.cik.duplicated(keep=False)]['cik']
count_dict = {}
for elem in dup:
    if elem in count_dict:
        count_dict[elem] += 1
    else:
        count_dict[elem] = 1
bankcik = bankruptcy['cik'].values.tolist()
bcik_dict = {}
for elem in bankcik:
    if elem in bcik_dict:
        bcik_dict[elem] += 1
    else:
        bcik_dict[elem] = 1
count_one = 0
count_two = 0
for k,v in bcik_dict.items():
    if v == 1:
        count_one += 1
    else:
        count_two += 1
print(count_one)
print(count_two)

2636
55

# Filtering for those cik's which have multiple bankruptcy dates

In [19]:
duplicate_keys= []
for k,v in count_dict.items():
    if v == 2:
        duplicate_keys.append(k)

In [20]:
bank_dupl = pd.DataFrame()
for elem in duplicate_keys:
    bank_dupl = bank_dupl.append(merged[merged['cik']==elem])

## Code for removing duplicates

In [21]:
narrowlist = bank_dupl[['cik','filing','bank_begin_date','day_diff','index','bank_list']].values.tolist()
wanted_list= []
for i in range(len(narrowlist)):
    try:
        if narrowlist[i][5] == 1:
            wanted_list.append(narrowlist[i][4])
        elif (narrowlist[i][1] == narrowlist[i+1][1]):
            if narrowlist[i][3] > 0:
                if narrowlist[i][3] < narrowlist[i+1][3]:
                    wanted_list.append(narrowlist[i][4])
            elif narrowlist[i][3] < 0:
                wanted_list.append(narrowlist[i+1][4])
    except IndexError:
        print('oob')
wanted_list = list(set(wanted_list))
dupl_filtered = bank_dupl[bank_dupl.index.isin(wanted_list)]

oob

In [22]:
dupl_filtered[['cik','filing','bank_begin_date','day_diff','index','bank_list','results']].head()

       cik     filing bank_begin_date  day_diff  index  bank_list  results
272  29806 2003-03-27      2008-12-30      2105    272          0    False
274  29806 2004-03-12      2008-12-30      1754    274          0    False
276  29806 2005-03-31      2008-12-30      1370    276          0    False
278  29806 2006-03-29      2008-12-30      1007    278          0    False
280  29806 2007-03-29      2008-12-30       642    280          0    False

In [23]:
len(dupl_filtered)

338

# Code for assigning to unique cik's

In [24]:
unique_keys= []
for k,v in bcik_dict.items():
    if v == 1:
        unique_keys.append(k)

In [25]:
final_bank = pd.DataFrame()
final_bank = merged[merged['cik'].isin(unique_keys)]
final_bank.head()

,gvkey,datadate,year,tic,city,fyrc,ipodate,sic,state,stko,...,egc_is_emerging_company,meta_acd_flag,meta_date_time_changed,meta_date_time_created,filingdate,bankdate,results,day_diff,index,bank_list
0,b'001121',2000-12-31,2000.0,b'AE',b'Houston',12.0,NaT,5172,b'TX',0.0,...,0.0,b'U',b'01JUN2019 21:45:07',NaN,2001-03-22,2017-04-21,False,5874,0,0
1,b'001121',2001-12-31,2001.0,b'AE',b'Houston',12.0,NaT,5172,b'TX',0.0,...,0.0,b'U',b'01JUN2019 21:45:07',NaN,2002-03-28,2017-04-21,False,5503,1,0
2,b'001121',2002-12-31,2002.0,b'AE',b'Houston',12.0,NaT,5172,b'TX',0.0,...,0.0,b'U',b'01JUN2019 21:45:07',NaN,2003-03-28,2017-04-21,False,5138,2,0
3,b'001121',2003-12-31,2003.0,b'AE',b'Houston',12.0,NaT,5172,b'TX',0.0,...,0.0,b'U',b'01JUN2019 21:45:07',NaN,2004-03-24,2017-04-21,False,4776,3,0
4,b'001121',2004-12-31,2004.0,b'AE',b'Houston',12.0,NaT,5172,b'TX',0.0,...,0.0,b'U',b'01JUN2019 21:45:07',NaN,2005-03-24,2017-04-21,False,4411,4,0

In [26]:
narrowlist = final_bank[['cik','filing','bank_begin_date','day_diff','index','bank_list']].values.tolist()
wanted_list= []
for i in range(len(narrowlist)):
    try:
        if narrowlist[i][5] == 1:
            wanted_list.append(narrowlist[i][4])
        elif (narrowlist[i][1] == narrowlist[i+1][1]):
            if narrowlist[i][3] > 0:
                if narrowlist[i][3] < narrowlist[i+1][3]:
                    wanted_list.append(narrowlist[i][4])
            elif narrowlist[i][3] < 0:
                wanted_list.append(narrowlist[i+1][4])
        elif narrowlist[i][1] != narrowlist[i+1][1]:
            wanted_list.append(narrowlist[i][4])
    except IndexError:
        print('oob')
wanted_list = list(set(wanted_list))
remove_dupl = final_bank[final_bank.index.isin(wanted_list)]
remove_dupl.head()

,gvkey,datadate,year,tic,city,fyrc,ipodate,sic,state,stko,...,egc_is_emerging_company,meta_acd_flag,meta_date_time_changed,meta_date_time_created,filingdate,bankdate,results,day_diff,index,bank_list
0,b'001121',2000-12-31,2000.0,b'AE',b'Houston',12.0,NaT,5172,b'TX',0.0,...,0.0,b'U',b'01JUN2019 21:45:07',NaN,2001-03-22,2017-04-21,False,5874,0,0
1,b'001121',2001-12-31,2001.0,b'AE',b'Houston',12.0,NaT,5172,b'TX',0.0,...,0.0,b'U',b'01JUN2019 21:45:07',NaN,2002-03-28,2017-04-21,False,5503,1,0
2,b'001121',2002-12-31,2002.0,b'AE',b'Houston',12.0,NaT,5172,b'TX',0.0,...,0.0,b'U',b'01JUN2019 21:45:07',NaN,2003-03-28,2017-04-21,False,5138,2,0
3,b'001121',2003-12-31,2003.0,b'AE',b'Houston',12.0,NaT,5172,b'TX',0.0,...,0.0,b'U',b'01JUN2019 21:45:07',NaN,2004-03-24,2017-04-21,False,4776,3,0
4,b'001121',2004-12-31,2004.0,b'AE',b'Houston',12.0,NaT,5172,b'TX',0.0,...,0.0,b'U',b'01JUN2019 21:45:07',NaN,2005-03-24,2017-04-21,False,4411,4,0

# Merging two dataframes which consist of cik's which have unique bankruptcy dates and multiple bankruptcy dates

In [27]:
final_file = pd.concat([remove_dupl, dupl_filtered], ignore_index=False)

# Filtering those rows which have the listing date greater than the bankruptcy date

In [28]:
final_bank = final_file[final_file['results']==False]

In [29]:
final_bank['bank_list'].value_counts()

0    6351
1    1022
Name: bank_list, dtype: int64

# Indexing all rows and only those columns which are present in both comp3 and after fixing bankruptcy information

In [30]:
bankrupt_data = final_bank.loc[:,zero_comp.columns]

In [31]:
comp_bank = pd.concat([zero_comp, bankrupt_data], ignore_index=False)

In [32]:
comp_bank.to_csv('comp_bank.csv',sep=',',encoding='utf-8', index = False)

In [141]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [142]:
comp_bank = pd.read_csv('comp_bank.csv')

In [143]:
comp_bank.shape

(129784, 137)

In [144]:
comp_bank[['size','zscore','leverage','prloss','chgdt','cfo','liquidity','mkbk','litigate','reportlag','priorgc','newequity','newdebt','dependence','indexpert','tenure','big4']].head()

,size,zscore,leverage,prloss,chgdt,cfo,liquidity,mkbk,litigate,reportlag,priorgc,newequity,newdebt,dependence,indexpert,tenure,big4
0,4.489872,-3.629819,0.444282,1.0,NaN,0.117922,0.168904,1.929919,0.0,82.0,NaN,NaN,NaN,0.035230,0.0,0.693147,0.0
1,6.607998,-3.176363,0.541814,1.0,NaN,0.013564,0.001675,1.097895,0.0,85.0,NaN,0.039637,0.000000,NaN,0.0,0.693147,1.0
2,6.553725,-3.010960,0.515267,0.0,-0.000621,0.065673,0.019675,1.108479,0.0,88.0,0.0,0.047828,0.164570,0.021363,0.0,1.098612,1.0
3,6.565545,-2.216170,0.563172,0.0,0.053732,-0.046909,0.048609,1.175215,0.0,87.0,0.0,0.047230,0.033793,0.012486,0.0,1.386294,1.0
4,6.531782,-2.335822,0.570377,1.0,-0.074685,0.050585,0.042460,0.485882,0.0,79.0,0.0,0.050282,0.130641,0.009559,0.0,1.609438,1.0

In [145]:
comp_bank['bank_list'].value_counts()

0    128762
1      1022
Name: bank_list, dtype: int64

# Bankruptcy Prediction

In [146]:
from sklearn.model_selection import train_test_split

In [147]:
columns_for_prediction = comp_bank[['size','zscore','leverage','prloss','chgdt','cfo','liquidity','mkbk','litigate','reportlag','priorgc','newequity','newdebt','dependence','indexpert','tenure','big4','bank_list']]

In [148]:
columns_for_prediction.isnull().sum()

size          10656
zscore        39256
leverage      10863
prloss            0
chgdt         26383
cfo           14403
liquidity     12428
mkbk          31623
litigate          0
reportlag         0
priorgc       16634
newequity     27684
newdebt       27684
dependence    11592
indexpert         0
tenure            0
big4              0
bank_list         0
dtype: int64

In [149]:
columns_for_prediction.dropna(inplace=True)

In [150]:
columns_for_prediction.shape

(57064, 18)

In [151]:
columns_for_prediction.head()

,size,zscore,leverage,prloss,chgdt,cfo,liquidity,mkbk,litigate,reportlag,priorgc,newequity,newdebt,dependence,indexpert,tenure,big4,bank_list
2,6.553725,-3.010960,0.515267,0.0,-0.000621,0.065673,0.019675,1.108479,0.0,88.0,0.0,0.047828,0.164570,0.021363,0.0,1.098612,1.0,0
3,6.565545,-2.216170,0.563172,0.0,0.053732,-0.046909,0.048609,1.175215,0.0,87.0,0.0,0.047230,0.033793,0.012486,0.0,1.386294,1.0,0
4,6.531782,-2.335822,0.570377,1.0,-0.074685,0.050585,0.042460,0.485882,0.0,79.0,0.0,0.050282,0.130641,0.009559,0.0,1.609438,1.0,0
5,6.564267,-2.368520,0.574669,1.0,0.122350,0.020544,0.057818,1.023943,0.0,52.0,0.0,0.050548,0.000000,0.012640,0.0,1.791759,1.0,0
6,6.596095,-2.663183,0.570157,0.0,-0.030322,0.069566,0.055321,1.660649,0.0,52.0,0.0,0.055705,0.219876,0.016562,0.0,1.945910,1.0,0

In [152]:
rows_with_one = len(columns_for_prediction[columns_for_prediction['bank_list']==1])
print('Percentage of 1s are', (rows_with_one/len(columns_for_prediction))*100)

Percentage of 1s are 0.331207065750736

In [153]:
columns_for_prediction['bank_list'].value_counts()

0    56875
1      189
Name: bank_list, dtype: int64

In [154]:
columns_for_prediction.describe()

,size,zscore,leverage,prloss,chgdt,cfo,liquidity,mkbk,litigate,reportlag,priorgc,newequity,newdebt,dependence,indexpert,tenure,big4,bank_list
count,57064.000000,57064.000000,57064.000000,57064.000000,57064.000000,57064.000000,57064.000000,57064.000000,57064.000000,57064.000000,57064.000000,5.706400e+04,57064.000000,57064.000000,57064.000000,57064.000000,57064.000000,57064.000000
mean,4.947907,21.300755,4.278974,0.480320,1.189404,-0.597992,0.190122,8.730253,0.268067,83.235490,0.133534,4.311346e+02,0.428549,0.137808,0.104251,1.665107,0.607984,0.003312
std,2.843120,2503.630758,102.170890,0.499617,198.595485,15.477299,0.219520,1379.852379,0.442957,53.462123,0.340154,2.382356e+04,26.436232,0.236727,0.305589,0.597080,0.488204,0.057456
min,-6.907755,-5247.280028,0.000041,0.000000,-2176.000000,-2597.000000,-0.027778,-58580.000000,0.000000,7.000000,0.000000,0.000000e+00,-0.043502,0.000006,0.000000,0.693147,0.000000,0.000000
25%,3.223087,-4.130154,0.273784,0.000000,-0.011742,-0.093278,0.035032,0.934534,0.000000,61.000000,0.000000,5.001197e-02,0.000000,0.009921,0.000000,1.098612,0.000000,0.000000
50%,5.086043,-3.096070,0.487026,0.000000,0.000000,0.051704,0.108880,1.923545,0.000000,75.000000,0.000000,1.509468e-01,0.000000,0.038939,0.000000,1.609438,1.000000,0.000000
75%,6.910457,-1.590615,0.701752,1.000000,0.018540,0.114858,0.258245,3.703770,1.000000,90.000000,0.000000,7.387075e-01,0.108459,0.137135,0.000000,2.079442,1.000000,0.000000
max,13.003798,586903.088000,14081.500000,1.000000,46904.500000,107.482759,1.000000,315075.155280,1.000000,1569.000000,1.000000,5.059006e+06,5918.000000,1.000000,1.000000,2.995732,1.000000,1.000000

In [155]:
columns_for_prediction.corr()

,size,zscore,leverage,prloss,chgdt,cfo,liquidity,mkbk,litigate,reportlag,priorgc,newequity,newdebt,dependence,indexpert,tenure,big4,bank_list
size,1.000000,-0.036122,-0.129388,-0.459905,0.000313,0.132524,-0.349073,-0.002707,-0.111317,-0.322215,-0.554964,-0.062665,-0.040441,-0.138631,0.257299,0.386852,0.609723,0.018005
zscore,-0.036122,1.000000,0.480256,0.010013,-0.000200,-0.741353,0.022482,0.000352,-0.002355,0.012335,0.023838,0.126155,0.032397,0.003320,-0.003291,-0.005615,-0.011892,-0.000428
leverage,-0.129388,0.480256,1.000000,0.035012,-0.001836,-0.583667,0.055388,-0.000394,-0.000856,0.068153,0.091447,0.114018,0.051743,0.011624,-0.012408,-0.015702,-0.044817,-0.001461
prloss,-0.459905,0.010013,0.035012,1.000000,0.005950,-0.043387,0.256482,0.004071,0.174172,0.164727,0.358123,0.017451,0.010867,0.006978,-0.125734,-0.216602,-0.241996,0.035542
chgdt,0.000313,-0.000200,-0.001836,0.005950,1.000000,0.000459,-0.004584,-0.000006,-0.001611,0.001673,0.002079,-0.000360,-0.004053,0.000989,-0.001989,-0.006101,-0.007190,-0.000352
cfo,0.132524,-0.741353,-0.583667,-0.043387,0.000459,1.000000,-0.062146,0.000707,-0.001700,-0.040428,-0.093709,-0.145550,-0.109459,-0.016930,0.014229,0.025809,0.048494,0.001772
liquidity,-0.349073,0.022482,0.055388,0.256482,-0.004584,-0.062146,1.000000,-0.001977,0.255675,0.033411,0.133874,0.029061,0.022203,-0.058394,-0.103732,-0.090891,-0.119444,-0.026974
mkbk,-0.002707,0.000352,-0.000394,0.004071,-0.000006,0.000707,-0.001977,1.000000,-0.002794,0.001905,0.009480,-0.009411,-0.000164,-0.002054,-0.001227,-0.003854,-0.004497,-0.000327
litigate,-0.111317,-0.002355,-0.000856,0.174172,-0.001611,-0.001700,0.255675,-0.002794,1.000000,-0.010832,0.031906,-0.004855,0.004301,-0.059415,-0.053952,-0.025321,-0.001080,-0.021115
reportlag,-0.322215,0.012335,0.068153,0.164727,0.001673,-0.040428,0.033411,0.001905,-0.010832,1.000000,0.228335,0.032039,0.006607,0.094358,-0.091677,-0.234766,-0.212121,0.013028
priorgc,-0.554964,0.023838,0.091447,0.358123,0.002079,-0.093709,0.133874,0.009480,0.031906,0.228335,1.000000,0.045021,0.028424,0.116096,-0.112010,-0.206398,-0.374080,0.016823
newequity,-0.062665,0.126155,0.114018,0.017451,-0.000360,-0.145550,0.029061,-0.009411,-0.004855,0.032039,0.045021,1.000000,0.010499,0.008848,-0.006170,-0.014976,-0.022446,-0.001024
newdebt,-0.040441,0.032397,0.051743,0.010867,-0.004053,-0.109459,0.022203,-0.000164,0.004301,0.006607,0.028424,0.010499,1.000000,0.011530,-0.003711,-0.007204,-0.013042,-0.000468
dependence,-0.138631,0.003320,0.011624,0.006978,0.000989,-0.016930,-0.058394,-0.002054,-0.059415,0.094358,0.116096,0.008848,0.011530,1.000000,-0.034643,-0.106481,-0.365586,-0.005096
indexpert,0.257299,-0.003291,-0.012408,-0.125734,-0.001989,0.014229,-0.103732,-0.001227,-0.053952,-0.091677,-0.112010,-0.006170,-0.003711,-0.034643,1.000000,0.151815,0.260900,0.004288
tenure,0.386852,-0.005615,-0.015702,-0.216602,-0.006101,0.025809,-0.090891,-0.003854,-0.025321,-0.234766,-0.206398,-0.014976,-0.007204,-0.106481,0.151815,1.000000,0.356753,-0.008233
big4,0.609723,-0.011892,-0.044817,-0.241996,-0.007190,0.048494,-0.119444,-0.004497,-0.001080,-0.212121,-0.374080,-0.022446,-0.013042,-0.365586,0.260900,0.356753,1.000000,0.006304
bank_list,0.018005,-0.000428,-0.001461,0.035542,-0.000352,0.001772,-0.026974,-0.000327,-0.021115,0.013028,0.016823,-0.001024,-0.000468,-0.005096,0.004288,-0.008233,0.006304,1.000000

In [156]:
X = columns_for_prediction.loc[:, columns_for_prediction.columns != 'bank_list']
y = columns_for_prediction.loc[:, columns_for_prediction.columns == 'bank_list']

In [157]:
from imblearn.over_sampling import SMOTE
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [159]:
y.head()

   bank_list
2          0
3          0
4          0
5          0
6          0

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X, 
           y, test_size=0.30, 
            random_state=42)
logmodel = LogisticRegression(random_state=0,class_weight='balanced')
logmodel.fit(X_train, y_train)
y_pred = logmodel.predict(X_test)
print(accuracy_score(y_test, y_pred))
print(classification_report(y_test,y_pred))
print(confusion_matrix(y_test, y_pred))

0.35210280373831776
              precision    recall  f1-score   support

           0       1.00      0.35      0.52     17067
           1       0.00      0.87      0.01        53

   micro avg       0.35      0.35      0.35     17120
   macro avg       0.50      0.61      0.26     17120
weighted avg       1.00      0.35      0.52     17120

[[ 5982 11085]
 [    7    46]]

# Naive Bayes Classifier

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [65]:
nb = GaussianNB()
nb.fit(X_train, y_train)
y_pred = nb.predict(X_test)

In [66]:
print(accuracy_score(y_test, y_pred))

0.058936915887850466

In [67]:
cm = confusion_matrix(y_test, y_pred)

print(cm)

[[  957 16110]
 [    1    52]]

In [63]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.06      0.11     17067
           1       0.00      0.98      0.01        53

   micro avg       0.06      0.06      0.06     17120
   macro avg       0.50      0.52      0.06     17120
weighted avg       1.00      0.06      0.11     17120

# CART

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X, 
           y, test_size=0.25, 
            random_state=42)

In [79]:
clf = DecisionTreeClassifier(max_depth = 100, 
                             random_state = 0)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [80]:
print(accuracy_score(y_test, y_pred))

0.9941118743866536

In [81]:
cm = confusion_matrix(y_test, y_pred)

print(cm)

[[14178    40]
 [   44     4]]

In [82]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     14218
           1       0.09      0.08      0.09        48

   micro avg       0.99      0.99      0.99     14266
   macro avg       0.54      0.54      0.54     14266
weighted avg       0.99      0.99      0.99     14266

In [91]:
importances = pd.DataFrame({'feature':X_train.columns,'importance':np.round(clf.feature_importances_,3)})
importances = importances.sort_values('importance',ascending=False)
importances

       feature  importance
1       zscore       0.143
7         mkbk       0.124
0         size       0.103
2     leverage       0.101
11   newequity       0.094
6    liquidity       0.088
4        chgdt       0.069
12     newdebt       0.058
9    reportlag       0.058
15      tenure       0.053
5          cfo       0.037
13  dependence       0.037
16        big4       0.015
8     litigate       0.008
14   indexpert       0.007
10     priorgc       0.004
3       prloss       0.001

# RF Classifier

In [176]:
X = columns_for_prediction.iloc[:, columns_for_prediction.columns != 'bank_list'].values
y = columns_for_prediction['bank_list'].values

In [183]:
len(columns_for_prediction) / (2 * np.bincount(y))

array([  0.50166154, 150.96296296])

In [198]:
X_train, X_test, y_train, y_test = train_test_split(X, 
           y, test_size=0.30, random_state=0)

In [199]:
model = RandomForestClassifier(random_state=0, n_jobs=-1,class_weight="balanced_subsample")

In [200]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print("FINISHED classifying. accuracy score : ")
print(accuracy_score(y_test, y_pred))

FINISHED classifying. accuracy score :
0.9960864485981309

In [201]:
cm = confusion_matrix(y_test, y_pred)

print(cm)

[[17053     0]
 [   67     0]]

In [188]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     17067
           1       0.00      0.00      0.00        53

   micro avg       1.00      1.00      1.00     17120
   macro avg       0.50      0.50      0.50     17120
weighted avg       0.99      1.00      1.00     17120

In [105]:
y_train['bank_list'].value_counts(normalize=True)

0    0.996595
1    0.003405
Name: bank_list, dtype: float64

In [106]:
y_test['bank_list'].value_counts(normalize=True)

0    0.996904
1    0.003096
Name: bank_list, dtype: float64

# XGBoost

In [131]:
import xgboost as xgb

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [43]:
D_train = xgb.DMatrix(X_train, label=y_train)
D_test = xgb.DMatrix(X_test, label=y_test)
param = {
    'eta': 0.3, 
    'max_depth': 4,  
    'objective': 'multi:softprob',  
    'num_class': 3} 

steps = 20  # The number of training iterations
model = xgb.train(param, D_train, steps)
preds = model.predict(D_test)
best_preds = np.asarray([np.argmax(line) for line in preds])

print("Precision = {}".format(precision_score(y_test, best_preds, average='macro')))
print("Recall = {}".format(recall_score(y_test, best_preds, average='macro')))
print("Accuracy = {}".format(accuracy_score(y_test, best_preds)))
cm = confusion_matrix(y_test, best_preds)
print(cm)

In [44]:
param = {
    'eta': 0.3, 
    'max_depth': 4,  
    'objective': 'multi:softprob',  
    'num_class': 3} 

steps = 20  # The number of training iterations

In [45]:
model = xgb.train(param, D_train, steps)

[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 8 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 12 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 8 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 12 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 8 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 12 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 12 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 12 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 12 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 12 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:06] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[12:14:07] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:07] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:07] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[12:14:07] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:07] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:07] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[12:14:07] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:07] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:07] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[12:14:07] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:07] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:07] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[12:14:07] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:07] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:07] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0
[12:14:07] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:07] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[12:14:07] C:\Users\Administrator\Desktop\xgboost\src\tree\updater_prune.cc:74: tree pruning end, 1 roots, 0 extra nodes, 0 pruned nodes, max_depth=0

In [46]:
from sklearn.metrics import precision_score, recall_score, accuracy_score

preds = model.predict(D_test)
best_preds = np.asarray([np.argmax(line) for line in preds])

print("Precision = {}".format(precision_score(y_test, best_preds, average='macro')))
print("Recall = {}".format(recall_score(y_test, best_preds, average='macro')))
print("Accuracy = {}".format(accuracy_score(y_test, best_preds)))

Precision = 0.4986857092788925
Recall = 0.5
Accuracy = 0.997371418557785

In [47]:
cm = confusion_matrix(y_test, best_preds)

print(cm)

[[11383     0]
 [   30     0]]

In [238]:
from sklearn.model_selection import GridSearchCV

clf = xgb.XGBClassifier()
parameters = {
     "eta"    : [0.05, 0.10, 0.15, 0.20, 0.25, 0.30 ] ,
     "max_depth"        : [ 3, 4, 5, 6, 8, 10, 12, 15],
     "min_child_weight" : [ 1, 3, 5, 7 ],
     "gamma"            : [ 0.0, 0.1, 0.2 , 0.3, 0.4 ],
     "colsample_bytree" : [ 0.3, 0.4, 0.5 , 0.7 ]
     }

grid = GridSearchCV(clf,
                    parameters, n_jobs=4,
                    scoring="neg_log_loss",
                    cv=3)

grid.fit(X_train, y_train)

GridSearchCV(cv=3, error_score='raise-deprecating',
       estimator=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1),
       fit_params=None, iid='warn', n_jobs=4,
       param_grid={'eta': [0.05, 0.1, 0.15, 0.2, 0.25, 0.3], 'max_depth': [3, 4, 5, 6, 8, 10, 12, 15], 'min_child_weight': [1, 3, 5, 7], 'gamma': [0.0, 0.1, 0.2, 0.3, 0.4], 'colsample_bytree': [0.3, 0.4, 0.5, 0.7]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_log_loss', verbose=0)

## Used a bunch of ML algorithms to correctly predict the number of 1's which represent the classes where it goes bankrupt but haven't achieved any significant results. The suggestions which can lead to a good f1- score are :
### Use a penalty function - use regularization to tune the model
### Explore the threshold for probability for f1 score
### Precision recall curve for different probability thresholds. Explore scikit learn
### Average precision scores for cross validation